<%- include('partials/header'); -%>

<body>
    <%- include('partials/navbar'); -%>
    <div class="container">
        <h1 class="my-3" ><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
    </div>
</body>